.btn {
  display: inline-block;
  padding: 0.7em $spacing;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
}
.btn-primary {
  color: map-get($map: $main-colors, $key: almost-white);
  background-color: map-get($map: $main-colors, $key: almost-black);
  border: 2px solid map-get($map: $main-colors, $key: almost-black);
  &:hover {
    background-color: map-get($map: $main-colors, $key: almost-white);
    border: 2px solid map-get($map: $main-colors, $key: almost-black);
  }
}
.btn-secondary {
  width: 100%;
  padding: $spacing/2 $spacing;
  background-color: map-get($map: $main-colors, $key: almost-white);
  border: 2px solid map-get($map: $main-colors, $key: medium-gray);
  &:hover {
    border: 2px solid map-get($map: $main-colors, $key: almost-black);
  }
}